# Alpha and Performance

## Portfolio Management
### MLP Training

#### January 2025

Questions?
* Contact: Mark Hendricks
* hendricks@uchicago.edu

In [146]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12,6)
plt.rcParams['font.size'] = 15
plt.rcParams['legend.fontsize'] = 13

In [147]:
import sys
sys.path.insert(0, '../cmds')
from portfolio import performanceMetrics, get_ols_metrics
from risk import *

In [148]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

# Multi Asset Class ETFs

In [149]:
LOADFILE = '../data/risk_etf_data_2025.xlsx'
info = pd.read_excel(LOADFILE,sheet_name='descriptions').set_index('ticker')
rets = pd.read_excel(LOADFILE,sheet_name='total returns').set_index('Date')
prices = pd.read_excel(LOADFILE,sheet_name='prices').set_index('Date')
rets['SPY|IEF'] = rets[['SPY','IEF']].mean(axis=1)

FREQ = 252

In [150]:
performanceMetrics(rets,FREQ).style.format('{:.1%}',na_rep='-')

In [151]:
get_ols_metrics(rets['SPY'],rets,FREQ).style.format('{:.1%}',na_rep='-')

***

# Tech Stocks

In [152]:
LOADFILE = '../data/assignment_1_data.xlsx'
#info = pd.read_excel(LOADFILE,sheet_name='info').set_index('ticker')
rets = pd.read_excel(LOADFILE,sheet_name='excess returns').set_index('date')
spy = pd.read_excel(LOADFILE,sheet_name='spy').set_index('date')

rets['AAPL|XOM'] = rets[['AAPL','XOM']].mean(axis=1)

FREQ = 52

In [153]:
performanceMetrics(rets,FREQ).style.format('{:.1%}',na_rep='-')

In [154]:
get_ols_metrics(spy,rets,FREQ).style.format('{:.1%}',na_rep='-')

***

# Managed Fund Data

In [155]:
LOADFILE = '../data/fund_data.xlsx'
info = pd.read_excel(LOADFILE,sheet_name='info').set_index('ticker')
rets = pd.read_excel(LOADFILE,sheet_name='total returns').set_index('date')
spy = rets[['SPY US Equity']]

FREQ = 252

In [156]:
info[['name']]

                                name
ticker
APO     APOLLO GLOBAL MANAGEMENT INC
ARES        ARES MANAGEMENT CORP - A
BX                    BLACKSTONE INC
CG             CARLYLE GROUP INC/THE
EMG             MAN GROUP PLC/JERSEY
KKR                     KKR & CO INC
SPY           SPDR S&P 500 ETF TRUST

In [157]:
performanceMetrics(rets,FREQ).style.format('{:.1%}',na_rep='-')

In [158]:
get_ols_metrics(spy,rets,FREQ).style.format('{:.1%}',na_rep='-')

***

# Private Equity Replication

In [159]:
LOADFILE = '../data/assignement_2_data.xlsx'
info = pd.read_excel(LOADFILE,sheet_name='descriptions').set_index('ticker')
rets = pd.read_excel(LOADFILE,sheet_name='total returns').set_index('Date')
retsx = pd.read_excel(LOADFILE,sheet_name='excess returns').set_index('Date')

FREQ = 52

In [160]:
info

,shortName,quoteType,currency,volume,totalAssets,longBusinessSummary
ticker,,,,,,
SPY,SPDR S&P 500,ETF,USD,27128200,6.237952e+11,The Trust seeks to achieve its investment obje...
VTV,Vanguard Value ETF,ETF,USD,1419036,1.876885e+11,The fund employs an indexing investment approa...
AGG,iShares Core U.S. Aggregate Bon,ETF,USD,5223168,1.197166e+11,The index measures the performance of the tota...
HYG,iShares iBoxx $ High Yield Corp,ETF,USD,30111422,1.467631e+10,The underlying index is a rules-based index co...
IEF,iShares 7-10 Year Treasury Bond,ETF,USD,4221735,3.138552e+10,The underlying index measures the performance ...
PSP,Invesco Global Listed Private E,ETF,USD,7241,2.760401e+08,The fund generally will invest at least 90% of...
APO,"Apollo Global Management, Inc.",EQUITY,USD,2035262,NaN,"Apollo Global Management, Inc. is a private eq..."
BX,Blackstone Inc.,EQUITY,USD,1540734,NaN,Blackstone Inc. is an alternative asset manage...
SHV,iShares Short Treasury Bond ETF,ETF,USD,1430549,1.900818e+10,The fund will invest at least 80% of its asset...

In [161]:
performanceMetrics(retsx,FREQ).style.format('{:.1%}',na_rep='-')

In [168]:
tab = get_ols_metrics(retsx[['SPY']],retsx,FREQ)
tab.style.format('{:.1%}',na_rep='-')

# Replication

Can we replicate private equity `PSP` using the following?
* public equity `SPY`
* treasury bonds `IEF`
* high-yield corp bonds `HYG`

In [163]:
targ = retsx[['PSP']]
instruments = retsx[['IEF','HYG','SPY']]
get_ols_metrics(instruments,targ,FREQ).style.format('{:.1%}',na_rep='-')

How does that compare to PSP against SPY alone?

In [171]:
tab.loc[['PSP']].style.format('{:.1%}',na_rep='-')